<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">

        <li class="nav-devider"></li>
        <li><a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
          class="mdi mdi-gauge"></i><span class="hide-menu">ApiRest Options <span
          class="label label-rouded label-themecolor pull-right">4</span></span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a routerLink="/hello" routerLinkActive="active">Hello World </a></li>
            <li><a routerLink="/news" routerLinkActive="active">News Api</a></li>
            <li><a routerLink="/users" routerLinkActive="active">Users</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
